.line {
    height: 5px;
    width: 285px;
    background-color: #A80000;
    margin-top: 15px;
    border-radius: 100px;
}
.name{
    font-size: 76px;
}
.nav-link:hover{
    color: #A80000;
}
.portfolio{
    height: fit-content;
    padding: 50px 0;
}
.portfolio .title{
    color: white;
}